/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #302d2e;
}

/* Wrapper */
.wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  color: #eee;
  background-color: #2e2a2b;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #4d494a;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box .title {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color: #e61c3e;
  margin-bottom: 10px;
}

.box div {
  display: flex;
}

.box input {
  width: 100%;
  padding: 8px 16px;
  background-color: #2c292a80;
  border: none;
  color: #eee;
  font-size: 1.2em;
  border: 2px solid #494547;
  border-radius: 10px;

  -moz-appearance: textfield;
}

.box input::-webkit-outer-spin-button,
.box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.box .result {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  margin-top: 10px;
}
